<div class="c-stock-header">
    <h1>{{this.stock.symbol}}</h1>
    <h2>{{this.stock.name}}</h2>
    <dl class="c-stock-header__stats">
        <dt class="c-stock-header__stat">Exchange</dt>
        <dd class="c-stock-header__val">{{this.stock.exchangeShort}}</dd>
        <dt class="c-stock-header__stat">Price ({{this.stock.currency}})</dt>
        <dd class="c-stock-header__val">{{this.stock.price}}</dd>
    </dl>
</div>